<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>

<body>

<h2>Video Downloader</h2>

<input id="link" placeholder="Paste link">
<button onclick="download()">Download</button>

<h3>Downloads</h3>
<ul id="history"></ul>

<script>

const tg = window.Telegram.WebApp;
tg.expand();

let user = tg.initDataUnsafe.user.id;

async function download(){

    let link = document.getElementById("link").value;

    let res = await fetch("/download", {
        method:"POST",
        headers:{'Content-Type':'application/json'},
        body:JSON.stringify({user:user,url:link})
    });

    let data = await res.json();

    if(data.video){
        window.open(data.video);
        loadHistory();
    }
}

async function loadHistory(){

    let res = await fetch("/history/"+user);
    let data = await res.json();

    let html = "";

    data.forEach(v=>{
        html += `<li><a href="${v}">Video</a></li>`
    })

    document.getElementById("history").innerHTML = html;
}

loadHistory();

</script>

</body>
</html>
